html{
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

body{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

/* scrollbar config */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
background: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #ffe718;
border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #b6a50c;
}

/* nav section */

nav{
    background: 
        /* linear-gradient(to bottom right, #333333, #3f3f3f), */
        rgba(0, 0, 0, 0.7);
    color: #ddd;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10vw;
    position: fixed;
    z-index: 10000;
    width: 100%;
    border-radius: 0 0 5px 5px;
}

nav .nav-p-container{
    display: flex;
    flex-direction: row;
    gap: 1em
}

nav .nav-p-container p{
    padding: 1.2rem 0;
    margin: 0;

    transition: all .5s ease-in-out;
}

nav .nav-p-container p:hover{
    transform: scale(1.075);
    transition: all .5s ease-in-out;
}

nav a:hover,
nav a:active{
    color: #ffe718;
}

nav .nav-btn-container{
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 50%;
}

nav .nav-btn-container button{
    background: #ffe718;
    height: 2rem;
    width: 2rem;
    border: transparent;
    border-radius: inherit;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    padding: 0;

    display: grid;
    place-items: center;
}

nav .nav-btn-container button::after{
    content: "6";
}


/* header section */

header{
    min-width: 100%;
    min-height: 70vh;
    background-image: url(img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

header .hd-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    margin: 0;
    padding-top: 2.5rem;
}

header .hd-conteudo{
    padding: 3.5rem 0 0 4rem;
    grid-column: span 2;
    text-align: left;
}

.hd-conteudo h1{
    color: #ddd;
    font-weight: 600;
    font-size: clamp(2rem, 2.75rem, 3.75rem);
    padding: 0.5rem 0 2.5rem 0;
}

.hd-conteudo h3{
    color: #ddd;
    font-size: 1.25rem;
}

header .hd-img{
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 0;
    transform: translateY(2.75em);
}

header .hd-img img{
    max-height: clamp(8rem, 45vh, 60vh);
}

.custom-shape-divider-bottom-1680211195 {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin: 0;
}

.custom-shape-divider-bottom-1680211195 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 115px;
    transform: rotateY(180deg);
    margin: 0;
}

.custom-shape-divider-bottom-1680211195 .shape-fill {
    fill: #FFFFFF;
}

main{
    padding: 0 3rem;
}

main #servicos{
    background-color: #e7e7e7;
}

/* utility classes */

.reset-link{
    text-decoration: none;
    color: inherit;
}

span{
    font-weight: bold;
    background-color: #ffe718;
}

.btn-principal{
    background-color: #ffe718;
    text-align: center;
    align-items: center;
    justify-content: center;
    outline: none;
    border: transparent;

    transition: ease-in-out .5s;
}

.btn-principal > p{
    font-size: 1rem !important;
    color: #333333;
    padding: 0.5rem;
    font-weight: 600;
    margin: 0;
}

.btn-principal:hover{
    background-color: #333333;
    transition: ease-in-out .5s;
}

.btn-principal:hover > p,
.btn-principal:hover > p > a{
    color: #ddd;
    transition: ease-in-out .5s;
}

.div-titulo{
    display: flex;
    align-items: center;
    text-align: center;
}

.div-titulo h2{
    color: #333333;
    font-size: clamp(1rem, calc(20vw + 10%), 1.5rem);
    font-weight: bold;
    cursor: default;
}

.divider{
    background: #333333;
    height: 4px;
    border-radius: 4px;
    width: calc(100vw - 90vw);
    margin-bottom: 1rem;
}

.simbolo{
    margin-left: auto;
    margin-right: auto;
    height: 10px;
    width: 10px;
    background: #ffe718;
    border-radius: inherit;
    align-items: center;
    transform: translateY(-25%);
}

.hovertext {
    position: relative;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
    color: #333333;
    font-family: inherit;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    padding: 0.5rem;
    transition: opacity .5s ease-in-out;
  
    position: absolute;
    z-index: 1;
    right: 0;
    top: 120%;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

/* sobre section */

#sobre{
    margin-top: 1rem;

    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.sobre-container-txt{
    padding: 1rem 0;
}

.sobre-conteudo h3{
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.sobre-conteudo + p{
    font-size: 14px;
    margin-bottom: 1rem;
}

.sobre-container-img{
    padding: 1rem;
    margin: 0 auto;

}

.sobre-container-img .div-img{
    overflow: hidden;
    border-radius: 4px;
}

.sobre-container-img img{
    max-width: 100%;
    transition: .3s ease-in-out;
    border-radius: 4px;
}

.sobre-container-img img:hover{
    transform: scale(1.125);
    transition: ease-in-out .3s;
}

/* servicos section  */

#servicos{
    margin: 2rem 0;
    background: #fcf7b9 !important;
    border-radius: 4px;
    padding-top: 2rem;
}

#servicos .div-titulo,
#servicos .divider{
    margin-left: 2.5rem;
}

.servicos-descricao{
    margin: 0 2.5rem;
    text-align: center;
}

.servicos-descricao > p{
    font-size: 1rem;
    color: #333;
}

.servicos-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    place-items: center;

    row-gap: 1.5rem;
    padding: 1.5rem 2.5rem;
}

.servicos-container .card{
    max-width: 
        clamp(12rem, calc(25vw + 2rem), 17rem) !important;
    overflow: hidden;
}

.servicos-container .card > img{
    transition: saturate .3s ease-in-out;
}

.servicos-container .card:hover img{
    filter: saturate(1.3);
    transition: ease-in-out .3s;
}

.card-title{
    font-size: 1rem;
    font-weight: bold;
}

.card-text{
    font-size: 0.85rem;
}

.div-label{
    display: flex;
    gap: 4px;
    align-items: center;
}

.div-label label{
    font-size: .75rem;
}

.card-body .btn-card-container{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: end;
}

/* footer section */

footer{
    background: 
        linear-gradient(to top right, #333333, #3f3f3f);
    text-align: center;
    align-items: center;
    position: sticky;
    overflow: hidden;
}

footer p{
    font-size: 1rem;
    padding: 1.5rem 0;
    color: #ddd;
    margin: 0;
    text-decoration: underline;
    text-decoration-color: #ffe718;
}

/* carrinho section */

.div-carrinho {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 1000;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    display: grid;
    place-items: center;
    
    background: #ffe718;
    border: 2px #333 solid;
}
  
.div-carrinho svg{
    height: 25px;
    fill: #333;
}



/* responsividade ------------------------ */

@media only screen and (max-width: 55rem) { 
    /* nav section */

    nav{
        padding: 0 1.5rem;
    }

    nav .nav-p-container{
        gap: 0.75em
    }

    nav .nav-p-container p{
        font-size: 0.75rem;
    }

    .hovertext:before {
        left: -10;
    }

    /* header section */

    header .hd-container{
        display: block;
        padding-top: 3rem;
    }

    header .hd-conteudo{
        padding: 2rem 0 0 1.5rem;
    }

    header .hd-img{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 1.5rem;
        padding-bottom: 1rem;
        transform: translateY(0);
    }

    .hd-conteudo h1{
        font-size: clamp(1.5rem, 2rem, 2.2rem);
        padding: 0.5rem 0;

    }
    
    .hd-conteudo h3{
        font-size: 1.25rem;
    }
    
    .hd-conteudo p{
        font-size: 1rem;
        margin: 0;
        padding: 0.5rem;
    }

    /* main section */

    main{
        padding: 0 1.5rem;
    }

    .divider{
        margin-bottom: 1.5rem;
    }

    .btn-principal > p{
        font-size: 0.75rem !important;
    }

    /* sobre section */

    #sobre{
        display: block;
    }

    .sobre-container-img{
        padding: 0;
    }

    .sobre-conteudo h3{
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: .5rem;
    }

    .sobre-conteudo p{
        font-size: 12px;
        font-weight: 600;
    }

    /* servicos section */

    #servicos{
        margin-top: 2.75rem;
    }

    .servicos-descricao{
        margin: 0 1.5rem;
        text-align: center;
    }
    
    .servicos-descricao > p{
        font-size: 12px;
        font-weight: bold;
    }

    /* footer section */

    footer p{
        font-size: 0.75rem;
        padding: 1rem;
    }
}

@media only screen and (max-width: 995px) {
    .servicos-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 3;
    
        row-gap: 1rem;
        padding: 1.5rem 2.5rem;
    }

    .servicos-container .card{
        max-width: clamp(10rem, calc(25vw + 5rem), 15rem) !important;
    }

    .btn-principal > p{
        font-size: 0.75rem !important;
    }
}

@media only screen and (max-width: 580px) {
    .servicos-container{
        display: flex;
        flex-direction: column;
        padding: 1.5rem 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    .servicos-container > .card:not(:nth-child(6)){
        margin-bottom: 0.5rem;
    }

    .servicos-container .card{
        max-width: 100% !important;
    }

    #servicos .div-titulo,
    #servicos .divider{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        justify-content: center;
    }
}