html{
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif
}

/* scrollbar config */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
background: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #ffe718;
border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #b6a50c;
}

/* nav section */

nav{
    background: 
        rgba(0, 0, 0, 0.7);
    color: #ddd;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10vw;
    z-index: 10000;
    width: 100%;
    border-radius: 0 0 5px 5px;
}

nav .nav-p-container > div,
nav .nav-p-container > div > a {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: .5rem;
}

nav .nav-p-container > div > a{
    margin: 0;
}

nav .nav-btn-container{
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 50%;
}

nav .nav-btn-container button{
    background: #ffe718;
    height: 2rem;
    width: 2rem;
    border: transparent;
    border-radius: inherit;

    display: grid;
    place-items: center;
}

nav .nav-btn-container button > p{
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

nav .nav-p-container p{
    padding: 1.2rem 0;
    margin: 0;
}

nav a:hover,
nav a:active{
    color: #ffe718;
}

/* card section */

main{
    background-color: #fcf7cb;
    border-radius: 4px;
    margin: 1.5rem;
    padding: 1rem;

    color: #333333;
    align-items: center;
}

.card{
    width: min(calc(100% - 1rem), 22rem);
    margin-inline: auto;
}

.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.grid-btn{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    padding: 0 1rem 1rem 1rem;
}


/* utility classes */

.reset-link{
    text-decoration: none;
    color: inherit;
}

.div-titulo{
    display: flex;
    justify-content: center;
    gap: .25rem;
    margin: 0;
}

.div-titulo svg{
    margin: 0;
    width: 25px;
    height: 25px;
}

.div-titulo h2{
    color: #333333;
    font-size: clamp(1rem, calc(20vw + 10%), 1.5rem);
    font-weight: bold;
    cursor: default;
    margin-bottom: .5rem;
}

.divider{
    background: #333333;
    height: 4px;
    border-radius: 4px;
    width: calc(100vw - 90vw);
    margin-bottom: 1.5rem;

    margin-left: auto;
    margin-right: auto;
}

.simbolo{
    margin-left: auto;
    margin-right: auto;
    height: 10px;
    width: 10px;
    background: #ffe718;
    border-radius: inherit;
    align-items: center;
    transform: translateY(-25%);
}

.btn-principal{
    display: flex;
    background-color: #ffe718;
    text-align: center;
    align-items: center;
    justify-content: center;
    outline: none;
    border: transparent;

    transition: ease-in-out .5s;
}

.btn-principal > p{
    font-size: 1rem !important;
    color: #333333;
    padding: 0.5rem;
    font-weight: 600;
    margin: 0;
}

.btn-principal:hover{
    background-color: #333333;
    transition: ease-in-out .5s;
}

.btn-principal:hover > p > a{
    color: #ddd;
    transition: ease-in-out .5s;
}

.btn-secundario{
    display: flex;
    background-color: transparent;
    text-align: center;
    align-items: center;
    justify-content: center;
    outline: none;
    border: transparent;

    transition: ease-in-out .5s;
}

.btn-secundario > p{
    font-size: 1rem !important;
    color: #333333;
    padding: 0.5rem;
    font-weight: 600;
    margin: 0;
}

.btn-secundario:hover{
    background-color: #333333;
    transition: ease-in-out .5s;
}

.btn-secundario:hover > p > a{
    color: #ddd;
    transition: ease-in-out .5s;
}

/* produtos section */

.div-label{
    display: flex;
    gap: 4px;
    align-items: center;
}

.div-label label{
    font-size: .75rem;
}

/* responsividade */

@media only screen and (max-width: 375px) {
    .div-titulo{
        flex-direction: column;
        align-items: center;
    }

    .div-titulo svg{
        margin-bottom: .5rem;
    }
} 